.projectteam__header__title{
    padding: 6px 0px 15px;
    font-size: 24px;
    /* font-family: CircularStdMedium; */
    font-weight: 700;
}

.projectteam__content{
    max-width: 95%;
    margin: auto;
}
.projectteam__content__addteammember{
    display: flex;
    justify-content: flex-end;
    padding-bottom: 10px;
}
.projectteam__content__addteammember > div > button{
    font-weight: 500 !important;
    background-color:#232f3e;
    color: #fff;
    width: 100%;
    height: 35px;
    border:0;
    border-radius: 5px;
    padding:5px;
    padding-left: 10px;
    padding-right: 10px;
    color:rgba(255, 255, 255, 0.7);
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}